@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --primaryColor:#3CD311;
    --secondColor:#000000;
    --thirdColor:#1D6708;
}

*, a, ul li{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

.modo-oscuro {
    background-color: #121212; /* Color de fondo oscuro */
    color: #ffffff; /* Texto en color claro */
    /* Agrega otros estilos para el modo oscuro según tus preferencias */
}

/* header */

.header{
    margin-top: 10px;
    margin-bottom: 200px;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-brand-navbar{
    display: flex;
}

.header__brand a{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 50px;
}

.header__brand a img{
    width: 60px;
}

.header__brand a h1{
    font-size: 20px;
    font-weight: 800;
    color: var(--primaryColor);
}

.navbar ul li a{
    font-size: 14px;
    color:var(--primaryColor);
    padding-right: 20px;
}



.navbar ul li a:hover{
    color: var(--secondColor);
}

.dropdown-menu{
    background-color: var(--primaryColor);
}

.dropdown-menu .dropdown-item{
    color: white;
    background-color: var(--primaryColor);
}


.header__img{
    background: linear-gradient(rgba(0, 0, 0, .2),rgba(0, 0, 0, .2)),url(../Img/imagen_ini2.jpg);
    width: 100%;
    height: 400px;
    background-position: center center;
    background-size: cover;
    margin-top: 100px;
    background-attachment: fixed;
}

/* information */

.information{
    margin-bottom: 200px;
}

.information__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    text-align: center;
}

.information__group{
    border: 1px solid var(--thirdColor);
}

.information__text{
    padding: 20px;
}

.information__text h2{
    font-size: 20px;
    font-weight: 600;
    color: var(--thirdColor);
    margin-bottom: 20px;
}

.information__text p{
    font-size: 14px;
    font-weight: 300;
    text-align: justify;

}

.btn__2{
    display: inline-block;
    font-size: 12px;
    color: white;
    background-color: var(--thirdColor);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    transition-property: border-radius;
    transition-duration: 2000ms;
    margin-bottom: 20px;
}

.btn__2:hover{
    background-color: transparent;
    border-radius: 0;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
}

.btn__3{
    display: inline-block;
    font-size: 12px;
    color: white;
    background-color:blue;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    transition-property: border-radius;
    transition-duration: 2000ms;
    margin-bottom: 20px;
}

.btn__3:hover{
    background-color: transparent;
    border-radius: 0;
    border: 1px solid blue;
    color: var(--secondColor);
}

/* figures */

.figures{
    margin-bottom: 200px;
    text-align: center;
}

.figures h2{
    font-size: 25px;
    font-weight: 800;
    color: var(--thirdColor);
    margin-bottom: 30px;
}

.figures__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.figures__group{
    position: relative;
}

.figures__group img{
    width: 100%;
}

.figures__text{
    position: absolute;
    text-align: center;
    left: 0;
    top: 40%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.514);
}

.figures__text h3{
    font-size: 20px;
    font-weight: 800;
    color: var(--primaryColor);
}

.figures__text p{
    color: var(--thirdColor);
}

/* news */

.news{
    margin-bottom: 200px;
    text-align: center;
}

.news__group img{
    width: 100px;
    box-shadow: 3px 3px 10px var(--thirdColor);
    margin-bottom: 20px;
}

.news__text h2{
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.news__text p{
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}

/* Image */


.Image{
    margin-bottom: 200px;
}

.image__content{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.image__group img{
    width: 100%;
}

.footer{
    padding: 50px 0;
    background-color:var(--thirdColor);
}

.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer__brand a img{
    width: 200px;
}

.foooter__navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

.foooter__navbar ul li a{
    font-size: 16px;
    font-weight: 300;
    color: white;
}

.foooter__navbar ul li a:hover{
    color: #3CD311;
}

.footer__networks a {
    font-size: 20px;
    color: #3CD311;
    padding: 10px 10px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}

.footer__networks a:hover{
    color: #1D6708;
}